@charset "utf-8";

/* 리셋코드: 태그가 가지는 기본값을 0 또는 none으로 설정 */
* {margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:top;} /*이미지사이 0 여백없게함*/

header{width:1200px; margin:0 auto; overflow: hidden;/*블럭인 마진을 auto하여 중앙, 인라인 text-agline*/
}

header div, header, nav{border:1px solid #f00;}
header .top{display:flex; justify-content: space-between;
    border-top:1px solid #e4e9f0; border-bottom:1px solid #e4e9f0;
    }

header #user_menu ul{display: flex;}
header .main2{display: flex; justify-content: space-evenly; margin-left:-90px; padding: 20px;}
header #main_menu ul{display: flex;}

main{width:1200px; margin:0 auto;}
main .container{margin:0 auto;
    }
main #title img{
    width: 100%;
}
main #notice {display: grid;
    grid-template-columns: 345px 345px 255px 255px;
    justify-content: space-between;
}

main #notice iframe{width: 100%; height: 100%;}
main #notice img{width: 100%; height: 100%;
}

main #host1 {display: flex;
    justify-content: space-between;
    
}
