@charset "utf-8";

/* 리셋코드: 태그가 가지는 기본값을 0 또는 none으로 설정 */

* {margin:0; padding:0;}
li{list-style:none;}

html, body{height: 100%;}
body{display:flex; align-items: center; 
    justify-content: center;
    background: url("./images/bg.png") no-repeat center,
    url("./images/bg-pattern.png") center;    
    font:13px/1.5 "Nanum Gothic", "돋움";  /* font-family: "Nanum Gothic", "돋움"; font-size:13px; line-height:1.5; */
    color:#323232;
}

body #wrap{width:500px; min-height: 390px;
    border:1px solid #dcdcdc; border-radius: 9px;
    box-shadow: inset 0 0 6px #dcdcdc; /*그림자의효과: 수평위치 수직위치 [흐림] [크기] 색상 inset(내부그림자)*/
    background: #f2f2f288;/*background 컬러만 88 반절투명도*/
    background: linear-gradient(90deg, #f2f2f288 0%, #ffffff88 50%); /*90deg 90도 각도*/
}

/*
 https://cssgradient.io/
*/

body #wrap > *{margin:15px 20px;}

body #wrap h2{border-bottom: 1px solid #ddd; font-weight: 400px;
    font-family: "Glass Antiqua", cursive; line-height: 1.8; /*글자크기 1.8배*/
    text-shadow: 1px 1px #ddd;
    font-size: 24px;
}

#wrap p{margin-bottom:10px;}
#wrap label{display: none;}
#wrap input{width: 15em; padding: 1em 0.5em 1em 2.5em;
    border:1px solid #cdcdcd; border-radius: 5px;
    box-shadow:inset 0 0 4px #dcdcdc; outline: none;
    transition: all .4s;
    /* 
        transition: [대상] [전환시간] [속성] [대기시간];
    */

    background:#f8f8f8 url("./images/u_icons_splite.png") no-repeat 5px 10px;
 } /*em은 글자크기 기준 1em 글자와 같은 사이즈 20px 300px*/

#wrap input:focus{width:17em; background-color: #fff; border-color: #7ccbe8;

}/*input가 선택되었을 때*/


#wrap #name{background-position: 5px 10px;}
#wrap #name:focus{background-position: 5px -20px;}
#wrap #phone{background-position: 5px -49px;}
#wrap #phone:focus{background-position: 5px -77px;}
#wrap #email{background-position: 5px -107px;}
#wrap #email:focus{background-position: 5px -133px;}
#wrap #website{background-position: 5px -160px;}
#wrap #website:focus{background-position: 5px -188px;}
#wrap #pass{background-position: 5px -217px;}
#wrap #pass:focus{background-position: 5px -247px;}

#wrap input + span{color:red; font-weight: bold; 
display:none}
#wrap input[required="required"] + span{display:inline}


 


