@charset "utf-8";

/* 리셋코드: 태그가 가지는 기본값을 0 또는 none으로 설정 */

* {margin:0; padding:0;}
li{list-style:none;}

html, body{height: 100%;}
body{display:flex; align-items: center; 
    justify-content: center;
    background: url("./images/bg.png") no-repeat center,
    url("./images/bg-pattern.png") center;    
    font:13px/1.5 "Nanum Gothic", "돋움";  /* font-family: "Nanum Gothic", "돋움"; font-size:13px; line-height:1.5; */
    color:#323232;
}

body #wrap{width:500px; min-height: 390px; position: relative;
    border:1px solid #dcdcdc; border-radius: 9px;
    box-shadow: inset 0 0 6px #dcdcdc; /*그림자의효과: 수평위치 수직위치 [흐림] [크기] 색상 inset(내부그림자)*/
    background: #f2f2f288;/*background 컬러만 88 반절투명도*/
    background: linear-gradient(90deg, #f2f2f288 0%, #ffffff88 50%); /*90deg 90도 각도*/
}

/*
 https://cssgradient.io/
*/

body #wrap > *{margin:15px 20px;}

body #wrap h2{border-bottom: 1px solid #ddd; font-weight: 400px;
    font-family: "Glass Antiqua", cursive; line-height: 1.8; /*글자크기 1.8배*/
    text-shadow: 1px 1px #ddd;
    font-size: 24px;
}

#wrap p{margin-bottom:10px;}
#wrap label:not([for="accept"]){display: none;}
#wrap input:not(#accept){width: 15em; padding: 1em 0.5em 1em 2.5em;
    border:1px solid #cdcdcd; border-radius: 5px;
    box-shadow:inset 0 0 4px #dcdcdc; outline: none;
    transition: all .4s;
    /* 
        transition: [대상] [전환시간] [속성] [대기시간];
    */

    background:#f8f8f8 url("./images/u_icons_splite.png") no-repeat 5px 10px;
 } /*em은 글자크기 기준 1em 글자와 같은 사이즈 20px 300px*/

#wrap input:not(#accept):focus{width:17em; background-color: #fff; border-color: #7ccbe8;

}/*input가 선택되었을 때, input:not(#accept) input id가 accept는 제외*/


#wrap p #name{background-position: 5px 10px;}
#wrap p #name:focus{background-position: 5px -20px;}
#wrap p #phone{background-position: 5px -49px;}
#wrap p #phone:focus{background-position: 5px -77px;}
#wrap p #email{background-position: 5px -107px;}
#wrap p #email:focus{background-position: 5px -133px;}
#wrap p #website{background-position: 5px -160px;}
#wrap p #website:focus{background-position: 5px -188px;}
#wrap p #pass{background-position: 5px -217px;}
#wrap p #pass:focus{background-position: 5px -247px;}

#wrap input + span{color:red; font-weight: bold; 
display:none}
#wrap input[required="required"] + span{display:inline}

/*
    input태그 - inline-block
    inline-block요소는 글자와 수평하게 나열된다.
    수평하게 나열되는 기준은 baseline을 기본값으로 한다.
    vertical-align: 수직위치를 변경한다.(inline-block만 가능)
*/
#wrap #accept{vertical-align: -2px;}

#wrap #accept + label a{color:#31a8a7;
    text-decoration: none;
}

#wrap #add{
    position:absolute; top:140px; right:40px;
    width:140px; height:140px; border-radius: 50%;
    background:linear-gradient(-35deg, #fff 10%,#e0e0e0 51%);
    border:1px solid #cfcfcf;
    outline:2px solid #c3d4db;
}

#wrap #btn{
    margin:15px; width:110px; height:110px;
    border-radius: 50%;
    border:3px solid #fff;
    background:linear-gradient(-35deg,#7c7c7c 5%, 
    #454545 30%, #1f1f1f 50%,  #000 51%);
    transition: all .3s; text-indent: -100px; overflow:hidden;
}

#wrap #btn:hover{
    box-shadow: 0 0 20px #ff08;/*수평위치 수직위치 변지는 정도*/
    transform:scale(1.1); cursor: pointer;
}
/*
    가상요소(영역을 만듬) - ::bofore, ::after 
     ::bofore {대상의 첫번째 자식보다 앞에 영역생성} #wrap #btn::before-가입글자 앞
     ::after  {대상의 마지막 자식보다 뒤에 영역생성} #wrap #btn::after-가입글자 뒤
 */
#wrap #btn::before,
#wrap #btn::after{content:""; position:absolute;
    top:calc(50% - 3px); left:calc(50% - 12px); width:24px; height:6px;
    background: #fff; 
}
#wrap #btn::after{transform: rotate(90deg);}
 


